*{
  font-family: 'Dosis', sans-serif;
}

.comp-tower{
  width: 400px;
  height: auto;
}
.align-section{
  max-width: 700px;
  margin: 16px auto;
  text-align: left;
}
.align-center{
  text-align: center;
}
.text-size{
  font-size: 22px;
}

.extra-width{
  max-width: 900px;
}
.flex-container{
  flex-wrap: wrap;
  display:flex;
  flex-direction: row;
}

.comp-part{
  width: 250px;
  height: 250px;
  margin: 10px auto;
  text-align: center;
}

.no-bullet{
  list-style-type: none;
  padding: 0;
}

.part-img{
  width: 200px;
  height: auto;
}
.part-label{
  display: block;
  margin-bottom: 5px;
}

.part-size2{
  width: 500px;
  height: auto;
}

.points_width{
  width: 200px;
}

.align-boxes{
  width: 400px;
  margin: 16px auto;
  text-align: left;
}

.fix{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.navbar{
  background-color: #333;
  font-family: arial;
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
}

.navbar a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown{
  float:left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
  background: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.textbox{
  height: 30px;
  width: 80px;
  font-size: 20px;
}

.btnp{
  padding: 14px 16px;
}

.maradd{
  margin: 70px;
}

.btmnavbar{
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

h2::before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}

.background{
  background-color: white;
}
